/* Variáveis de Cor */
:root {
    --primary: #2563eb;
    --dark: #1e293b;
    --light: #f8fafc;
    --text: #334155;
    --white: #ffffff;
    --border: #e2e8f0;
}

/* Reset e Configurações Gerais */
body {
    font-family: sans-serif;
    line-height: 1.6;
    color: black;
    background-color: var(--light);
    margin: 0;
    padding: 0;
    font-size: 10px;
 
}
/* Estilo do fundo escurecido (overlay) */
        .overlay {
            display: none; /* Oculto por padrão */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            justify-content: center;
            align-items: center;
            z-index: 10;
        }

        /* Estilo do balão/pop-up */
        .popup {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            text-align: center;
            max-width: 400px;
            position: relative;
            font-size: 12px;
        }

        /* Configurção da aparencia do botão fechar */
        .fechar-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            background: none;
            border: none;
            font-size: 25px;
            cursor: pointer;
            color: #000000;
        }

header {
    background: var(--white);
    padding: 3rem 1rem;
    text-align: center;
    border-bottom: 1px solid var(--border);
    font-size: 14px;
}

.container {
    max-width: 800px;
    padding: 1em;
    margin: 0.5em;
    font-size: 14px;
    text-align: left;
    
}

section { 
    margin-bottom: 3.5rem; 
    
}

h1, h2 { 
    color: var(--dark); 
}

/* Projetos */
.projetos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
}

.projeto-card {
    background: var(--white);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border);
    transition: transform 0.3s ease;
}

.projeto-card:hover {
    transform: translateY(-8px);
    border-color: var(--primary);
}

/* Estilização das Tags */
.tags { 
    margin-top: 1rem; 
}

.tag {
    background: #dbeafe;
    color: var(--primary);
    padding: 0.3rem 0.7rem;
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: 600;
    margin-right: 0.5rem;
}

/* Links e Footer */
a { 
    color: var(--primary); 
    text-decoration: none; 
    font-weight: 600; 
}

a:hover {
    text-decoration: underline;
}

footer { 
    text-align: center; 
    padding: 3rem; 
    color: #94a3b8;
    font-size: 0.9rem;
}